/*universal*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}

textarea{
    background: rgba(255,255,255,0.5);
    outline-style: none;
    width: 90%;
    height: 100px;
    padding: 20px;
    border-radius: 5px;
    margin-top: 10px;
    resize: none;
   
}

div.input input{
    background: rgba(255,255,255,0.5);
    border-width: 0.7px;
    width: 100%;
    border-color:  grey;
    border-radius: 5px;
    padding: 3px;

}

span{
    color: red ;
}

/*end*/

/*main*/


body.page1 {
    background-image: url("../images/UniPostCover--University-of-Aberdeen.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
 
.page1 h1{
    background-color:white;
    padding: 15px;
    top: -10px;
    width: 100%;
    position:fixed;
    color: white;
    
}

header img.smallimg{
    position: absolute;
    top: 20%;
    width: 270px;
    left: 10%;
}
.ListCon{
    padding: 20px;
    
}
.topList h2{
    margin: 8px;
    text-align: center;
}

.topList{
    color: black;
}

.page1 nav{
    background-color: white;
    position: absolute;
    top: 20%;
    left: 55%;
    width: 500px;
    height: 270px;
    border-radius: 5px;
    padding: 10px 30px 20px 5px;
    box-shadow: 0px 5px 20px 10px rgba(0,0,0,0.2);
    max-height: 680px;
}
nav ul{
    list-style-type: none;
}
div.Content li {
    border-radius: 2px;
    background-color: rgb(17, 17, 80);
    margin: 5px;
    padding: 7px;

}
nav li a{
    text-decoration: none;
    align-items: center;
    font-weight: 500;
    color: white;
    
   
}



/*end*/

/*Iform */

body.IFORM {
    background-image: url("../images/study-at-aberdeen.jpg");
    background-attachment: fixed;/* Use 'cover' for background-size to ensure it covers the entire element */
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
div.top{
    text-align: center;
    padding: 10px;
}

header.form1H{
    font-size: 25px;
    font-weight: bold;
    padding: 10px;

}

.submit{
    text-align: center;
}

p1{
    color: grey;
    font-size: 15px;
    margin-left: 28px;
    display: inline-block;
}
.fields{
    max-height: 600px;
}

div.other textarea{
    vertical-align:top;
}

div.margT{
    margin-top: 10px;
}

#degrees option{
    background-color: rgba(255,255,255,0.5);
}

#submit{
    width: 200px;
    height: 20px;
    font-size: 15px;
}

.form1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:  rgba(255,255,255,0.5);
    width: 570px;
    border-radius: 5px;
    padding: 10px 30px 20px 5px;
    box-shadow: 0px 5px 20px 10px rgba(0,0,0,0.2);
    max-height: 680px;
}

.form1 form{
    margin: 30px 0;
}

/*end*/

/*form2*/

body.SFORM {
    background-image: url("../images/study-at-aberdeen.jpg");
    background-attachment: fixed;/* Use 'cover' for background-size to ensure it covers the entire element */
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

div.form2 header{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-top: 15px;
}

.form2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:  rgba(255,255,255,0.5);
    width: 570px;
    border-radius: 5px;
    padding: 10px 30px 20px 5px;
    box-shadow: 0px 5px 20px 10px rgba(0,0,0,0.2);
    max-height: 680px;
}

.submit2{
    text-align: center;
    
}

#submit2{
    width: 200px;
    height: 20px;
    font-size: 15px;
}
.fields2{
    max-height: 600px;
}
.form2 form{
    margin: 30px 0;
}

#degrees{
    cursor: pointer;
    background-color:  rgba(255,255,255,0.5);
    width: 500px;

}

/*pseudo elements  main page*/
nav ul li a:hover {

    text-decoration: underline;
}

/*pseudo elements IFORM */
textarea::-webkit-scrollbar{
    width: 0px;
}

textarea:is(:focus){
    border-width: 1.5px;
}

input:is(:focus, :valid){
    border-width: none;
}
