<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/skillshare/static/css/styles.css" />
    <title>University of Aberdeen Placement</title>
  </head>
  <body class="page1">
    <header>
      <h1>University of Aberdeen</h1>
      <img
        src="/skillshare/static/images/unilogo.png"
        alt="University of Aberdeen logo "
      />
    </header>
    <nav class="main-nav">
      <div class="topList">
        <h2>Welcome to SkillShare</h2>
        <div class="ListCon">
          <li>Browse current internships</li>
          <li>Apply for current internship</li>
        </div>
      </div>
      <ul>
        <div class="Content">
          <li><a href="IForm.html">Employer application</a></li>
          <li><a href="SForm.html">Student application</a></li>
          <li><a href="">Contacts</a></li>
        </div>
      </ul>
    </nav>
  </body>
</html>
