{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    <title>Student Internship Form</title>
  </head>
  <body class="IFORM">
    <div class="form1" style="overflow-y: scroll">
      <div class="top">
        <header class="form1H">
          University of Aberdeen: Work-based Placements/Learning in Applied
          Health Sciences 2024
        </header>

        <p>
          The survey will take approximately 9 minutes to complete. Many thanks
          for your interest in hosting a Work-based Placement or Work-Based
          Learning Experience for our Masters students in 2024. Please complete
          the form below for each placement opportunity to enable us to take
          plans forward and identify student matches. Thank you in advance and
          we look forward to supporting your organisation.
        </p>
      </div>

      <form>
        <div class="fields">
          <div class="input">
            <label for="FirstN2">1. First Name<span>*</span></label>
            <input
              type="text"
              id="FirstN2"
              pattern="[A-Za-z]+"
              placeholder="Enter your answer"
              required
            />
            <br /><br />
            <label for="LastN2">2. Last Name<span>*</span></label>
            <input
              type="text"
              id="LastN2"
              pattern="[A-Za-z]+"
              placeholder="Enter your answer"
              required
            />
            <br /><br />
            <label for="email">3. Email Adress<span>*</span></label>
            <input
              type="email"
              id="email"
              placeholder="Enter your answer"
              required
            />
            <br /><br />
            <label for="EmployLog"
              >4. Employing organisation<span>*</span></label
            >
            <input
              type="text"
              id="EmployLog"
              placeholder="Enter your answer"
              required
            />
            <br /><br />
            <label for="OrgWeb">5. Organisational Website<span>*</span></label
            ><br />
            <input
              type="text"
              id="OrgWeb"
              placeholder="Enter your answer"
              required
            />
          </div>
          <br /><br />
          <label for="OrgRem">6. Organisation's remit<span>*</span></label
          ><br />
          <textarea
            name="OrgRem"
            id="OrgRem"
            placeholder="Enter your answer"
            required
          ></textarea>
          <br /><br />

          <p>7. Work model preference (can select both)<span>*</span></p>
          <div class = "margT">
          <p>
            <input
              type="checkbox"
              name="WMP"
              id="WMP"
              placeholder="Enter your answer"
              required
            />
            <label for="WMP"
              >January-April (10 weeks/1 day per week) - Work-Based Placement
              (student-led project to deliver substantive piece of work with
              University-based employability support workshops)</label
            ><br />
            <br />

            <input
              type="checkbox"
              name=""
              id="WMP2"
              placeholder="Enter your answer"
              required
            />
            <label for="WMP2"
              >May-July (10 weeks/2 days per week) - Work-Based Learning
              Experience (organisation-driven series of task-based activities
              with structured University support workshops and workbook)</label
            ><br />
          </div>
            <br />
           
          </p>

          <p>8. Relevant to the following degree programme(s)<span>*</span></p>
          <div class="margT">
            <input type="checkbox" name="RDP" id="RDP" />
            <label for="RDP">Master of Public Health</label><br />

            <input type="checkbox" name="RDP2" id="RDP2" />
            <label for="RDP">MSc Applied Health Sciences</label><br />

            <input type="checkbox" name="RDP3" id="RDP3" />
            <label for="RDP">MSc Clinical Nutrition</label><br />

            <input type="checkbox" name="RDP4" id="RDP4" />
            <label for="RDP">MSc Global Health and Management</label><br />

            <input type="checkbox" name="RDP5" id="RDP5" />
            <label for="RDP">MSc Health Data Science</label><br />

            <input type="checkbox" name="RDP6" id="RDP6" />
            <label for="RDP">MSc Human Nutrition</label><br />
          </div>
          <br />

          <p>9. How many students can you host?<span>*</span></p>
          <div class="margT">
            <input type="checkbox" name="host" id="host" />
            <label for="host">1 in January</label><br />

            <input type="checkbox" name="host2" id="host2" />
            <label for="host2">1 in May</label><br />

            <input type="checkbox" name="host3" id="host3" />
            <label for="host3">2 in January</label><br />

            <input type="checkbox" name="host4" id="host4" />
            <label for="host4">2 in May</label><br />

            <div class="other">
              <input type="checkbox" name="host5" id="host5" />
              <textarea
                name="text"
                id="host5"
                cols="30"
                rows="10"
                placeholder="Other"
              ></textarea>
            </div>
          </div>

          <br /><br />

          <label for="WO-T">10. Work overview/title<span>*</span></label
          ><br />
          <textarea
            name="WO-T"
            id="WO-T"
            cols="30"
            rows="10"
            placeholder="Enter your answer"
            required
          ></textarea>

          <br /><br />

          <label for="oros"
            >11. Location - online or onsite (please indicate city/country if
            onsite)?<span>*</span></label
          ><br />
          <textarea
            name="oros"
            id="oros"
            cols="30"
            rows="10"
            placeholder="Enter your answer"
            required
          ></textarea>

          <br /><br />

          <label for="WD-A">12. Work description/activities<span>*</span></label
          ><br />
          <textarea
            name="WD-A"
            id="WD-A"
            cols="30"
            rows="10"
            placeholder="Enter your answer"
            required
          ></textarea>

          <br /><br />

          <label for="WD-A">12. Work outcomes/deliverables<span>*</span></label
          ><br />
          <textarea
            name="WD-A"
            id="WD-A"
            cols="30"
            rows="10"
            placeholder="Enter your answer"
            required
          ></textarea>
          <br /><br />

          <label for="ET">13. Work outcomes/deliverables<span>*</span></label
          ><br />
          <textarea
            name="ET"
            id="ET"
            cols="30"
            rows="10"
            placeholder="Enter your answer"
            required
          ></textarea> <br><br>

          <label for="SR">14. Skills required<span>*</span></label
          ><br />
          <p1>
            What essential training or skills should the student have to be
            able to complete the deliverables?
          </p1>
          <br />
          <textarea
            name="SR"
            id="SR"
            cols="30"
            rows="10"
            placeholder="Enter your answer"
            required
          ></textarea>

          <br /><br />

          <label for="RA"
            >15. Any risk assessment considerations?<span>*</span></label
          ><br />
          <textarea
            name="RA"
            id="RA"
            cols="30"
            rows="10"
            placeholder="Enter your answer"
            required
          ></textarea>

          <br /><br />

          <label for="CC">16. Any cost considerations?<span>*</span></label
          ><br />
          <textarea
            name="CC"
            id="CC"
            cols="30"
            rows="10"
            placeholder="Enter your answer"
            required
          ></textarea>

          <br /><br />

          <label for="OC">
            17. Any other considerations?<span>*</span></label><br />
          <textarea
            name="OC"
            id="OC"
            cols="30"
            rows="10"
            placeholder="Enter your answer"
            required
          ></textarea>

          <br /><br />

          <p>
            18. Would you like to receive CVs/letters of application from
            potential student matches?<span>*</span>
          </p>

          <input
            type="radio"
            name="Pattern"
            value="Yes"
            id="num11"
            placeholder="Enter your answer"
            required
          />
          <label for="num11">Yes</label><br />

          <input
            type="radio"
            name="Pattern"
            value="No"
            id="num22"
            placeholder="Enter your answer"
            required
          />
          <label for="num22">No</label>

          <br /><br />

          <p>
            19. Would you like to receive CVs/letters of application from
            potential student matches?<span>*</span>
          </p>

          <input
            type="radio"
            name="Pattern2"
            value="Yes2"
            id="num11b"
            placeholder="Enter your answer"
            required
          />
          <label for="num11b">Yes</label><br />

          <input
            type="radio"
            name="Pattern2"
            value="No2"
            id="num22b"
            placeholder="Enter your answer"
            required
          />
          <label for="num22b">No</label>

          <br /><br />

          <label for="END"
            >20. Anything else you would like to note at this point?<span
              >*</span
            ></label
          ><br />
          <textarea
            name="END"
            id="END"
            cols="30"
            rows="10"
            placeholder="Enter your answer"
            required
          ></textarea>

          <br /><br />
          <div class="submit">
            <input type="submit" value="Complete application" id="submit" />
            <br>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
