{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    <title>Student Internship Form</title>
</head>
<body class="SFORM">
<div class="form1" style="overflow-y: scroll">
    <div class="top">
        <header class="form1H">
            University of Aberdeen: Work-based Placements/Learning in Applied Health Sciences 2024
        </header>

        <p>
            The survey will take approximately 9 minutes to complete. Many thanks for your interest in hosting a
            Work-based Placement or Work-Based Learning Experience for our Masters students in 2024. Please complete the
            form below for each placement opportunity to enable us to take plans forward and identify student matches.
            Thank you in advance and we look forward to supporting your organisation.
        </p>
    </div>

    <form method="post" action="{% url 'submit-student' %}">
        {% csrf_token %}
        <div class="fields">
            <div class="input">
                <label for="Fullname">1. Fullname<span>*</span></label>
                <input
                        type="text"
                        name="Fullname"
                        id="Fullname"
                        placeholder="Enter your answer"
                        required
                />
                <br/><br/>
                <label for="Course">2. Course<span>*</span></label>
                <input
                        type="text"
                        name="Course"
                        id="Course"
                        placeholder="Enter your answer"
                        required
                />
                <br/><br/>
                <label for="Score">3. Score<span>*</span></label>
                <input
                        type="number"
                        name="Score"
                        id="Score"
                        placeholder="Enter your answer"
                        required
                />
                <br/><br/>
                <label for="Experience">4. Experience<span>*</span></label>
                <input
                        type="text"
                        name="Experience"
                        id="Experience"
                        placeholder="Enter your answer"
                        required
                />
                <br/><br/>
                <label for="StudyMode">5. Study Mode<span>*</span></label>
                <input
                        type="text"
                        name="StudyMode"
                        id="StudyMode"
                        placeholder="Enter your answer"
                        required
                />
                <br/><br/>
                <label for="StudyPattern">6. Study Pattern<span>*</span></label>
                <input
                        type="text"
                        name="StudyPattern"
                        id="StudyPattern"
                        placeholder="Enter your answer"
                        required
                />
                <br/><br/>
            </div>
            <div class="submit">
                <input type="submit" value="Complete application" id="submit"/>
                <br>
            </div>
        </div>
    </form>
</div>
</body>
</html>
