{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>University of Aberdeen Placement</title>
  </head>
  <body class="page1">
    <header>
      <h1>University of Aberdeen</h1>
      <img
        class="smallimg"
        src="{% static 'images/unilogo.png' %}"
        alt="University of Aberdeen logo "
      />
    </header>
    <nav class="main-nav">
      <div class="topList">
        <h2>Welcome to SkillPilot</h2>
        <div class="ListCon">
          <li>Browse current internships</li>
          <li>Apply for current internship</li>
        </div>
      </div>
      <ul>
        <div class="Content">
          <li><a href="{% url 'internship' %}">Employer application</a></li>
          <li><a href="{% url 'student' %}">Student application</a></li>
          <li><a href="">Contacts</a></li>
          {% csrf_token %}
          <li><a href="{% url 'clean-data' %}">Process data</a></li>
        </div>
      </ul>
    </nav>
    <ul>
      <div class="admin">
        <h2>Admin Login</h2>
        <li><a href="{% url 'admin' %}">Login</a></li>
      </div>
    </ul>
  </body>
</html>
